*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    width: 100%;
    background-color: rgb(52, 58, 64);
    display: flex;
    align-items: center;
    height: 8em;
    justify-content: space-around;
    color: white;
    position: fixed;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.8em;
}

.logo-menu{
    width: 120px;
    max-width: 100%;
}
.itens-menu{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    font-size: 1.2em;
}
main{
    background-image: url("assets/fundo.jpg");
    max-width: 600px;
    color: white;
    margin-inline: auto;
    padding-top: 8em;
    padding-bottom: 2em;
}
.container-titulo{
    text-align: center;
    margin-top: 20px;

}
.container-produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.produto{
    box-sizing: border-box;
    padding: 2px;
    text-align: center;
    margin: 1em;
    height: 100%;
}
.div-img-produto{
    text-align: center;
}
.img-produto{
    max-width: 150px;
    width: 150px;
}
h3{
    font-size: 2em;
}
.ingredientes-produto{
    margin-left: 20px;
    font-size: 1.2em;
    flex-wrap: wrap;
    max-width: 100%;
    text-align: left;
    line-height: 30px;
}
.valor-produto{
    font-weight: bold;
    margin-top: 15px;
    font-size: 1.8em;
}
.div-redes-sociais{
    margin-bottom:10px;
}
.logo-menu{
    filter: brightness(9000%);
    width: 130px;
    margin-inline: 2px;
}


.container-endereço{
    width: 100%;
}
.container-endereço div{
    padding: 10px;
}

.container-endereço h2{
    margin-left: 5px;
}

footer{
    background-color: rgb(52, 58, 64);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 4em;
    color: white;
    height: 100%;
}

.container-referencias{
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.container-referencias div{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

@media (max-width:600px){
    header{
        flex-direction: column;
        text-align: center;
        height: 180px;
    }
    .itens-menu{
        background-color: red;
        padding-bottom: 10px;
    }
    a{
        font-size: 1.5em;
        padding-bottom: 10px;
        padding-inline: 5px;
    }
    .container-titulo{
        margin-top: 100px;
    }
    .div-img-logo{
        padding: 0;
        height: 100%;
        margin-bottom: 5px;
    }
    .itens-menu{
        width: 100%;
        height: 5;
        font-size: 1em;
        background-color: rgb(52, 58, 64);
        margin-inline-start: 0;
        margin-bottom: 5px;
    }
}

@media (max-width:250px){
    .itens-menu{
        flex-direction: column;
        align-items: center;
    }
}
